/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*, div, section, h1, p {
padding: 0;
margin: 0;
font-family: 'Source Sans Pro' ;
box-sizing: border-box;

}

/*========== TYPO ==========*/
h1, h2, h3 {
  font-weight: 900;
}

h1, h2 {
  text-transform: uppercase;
  color: #000;
}

h1 {
  font-size: 2.2em;
  letter-spacing: .3em;
}

h2, h3 {
  font-size: 1.3em;
  letter-spacing: .04em;
  line-height: 1.2;
}

#overview h1 {
  padding-top: 1em;
}

.headline {
  color: #f7465b;
  letter-spacing:  .08em;
  position: relative;
}

.headline:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -.03em;
    border-width: 0 0 .1em;
    border-style: solid;
}

.tldr, .tags  {
  padding-top: 1.5em;
}

.blue {
  text-transform: uppercase;
  color: #7189ff;
}

.red {
  color: #f7465b;
}

a {
    text-decoration: none;
    color: #7189ff;
    position: relative;
}

#header a:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -0.15em;

    border-width: 0 0 .15em;
    border-style: solid;
}

.footer {
    text-align: center;
    color: #aaa;
}


/*========== IMG ==========*/
.img_01 {
    
}


/*======== CONTENT ========*/
.content {
  width: 100vw;
  height: 100vh;
  padding: 0 5vh;

  position: fixed;
  top: 0px;
  left: 0;

  display: flex;
  flex-flow: column nowrap;

  background-image: 
    repeating-linear-gradient(-45deg, 
    transparent, transparent 0.3em, 
    rgba(255,255,255,1) 0.3em, 
    rgba(255,255,255,.5) 0.6em),
}

/*HEADER*/
#header {
  width: 100%;
  min-height: 110px;
  padding-top: .8em;
  flex: 1 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

#header, #section {
  padding-left: 5vh;
  padding-right: 5vh;
}

#header > h1, h2 {
  flex:1 0;
}

#header > h2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/*SECTION*/
#section {
  flex: 14 0;
  display: flex;
  flex-flow: row nowrap;
}

/*ASIDE*/
#aside {
  flex: 1 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#nav ul {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 1em;
}

#nav ul > li a {
    text-decoration: none;
    color: #7189ff;
}

#nav  ul > li {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  width: 1.7em;
  list-style-type: none;
  border: .15em solid #f7465b;
  border-radius: .7em;
  margin-right: .8em;
}

/*MAIN*/
#main {
  flex: 2 0;
  opacity: 1;
  border-radius: 15em;
  background: #FFEEF0;
  background-image: 
    repeating-linear-gradient(-45deg, 
    transparent, transparent 0.3em, 
    rgba(255,255,255,1) 0.3em, 
    rgba(255,255,255,.5) 0.6em),
    url(../img/puppe.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom; 

}

.margin-left {
    margin-left: 10vh;
}

/*FOOTER*/
#footer {
  flex: 2 0;
  min-height: 110px;
  display: flex;
  align-items: center;
}

/*======== ANIMATION ========*/
.watercolor {
  animation: water 8s forwards cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

@keyframes water {
  0% {
    color: transparent;
    text-shadow: 0 0 8px rgba(0,0,0,1);
    opacity: 0;
  }
  99% {
    color: transparent;
    text-shadow: 0 0 0px rgba(0,0,0,1);
    opacity: 1;
  }
  100% {
    color: #000;
    text-shadow: 0 0 0px rgba(0,0,0,1);
    opacity: 1;
  }
}

@keyframes water_img {
  0% {
    filter: blur(0px);
    opacity: 1;
  }
  50% {
    filter: blur(30px);
    opacity: 0.3;
  }
  100% {
    filter: blur(50px);
    opacity: 0;
  }
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media screen and (max-height: 700px) and (max-width: 1000px) {
  #header, #footer { min-height: 70px}
  html { font-size: 0.8em; }
  h1 { font-size: 1.5em; }
  #nav ul li { 
    font-size: 1.3em;
    margin-right: .5em;
  }
  #main {
    border-radius: 11em;
  }
}
        
@media screen and (max-height: 800px) and (max-width: 1400px) {
  html { font-size: 0.9em; }
  h2, h3 { font-size: 1.1em; }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  h1 { font-size: 1.8em; }
  #nav ul li { 
    font-size: 1.3em;
    margin-right: .5em;
   }
}

@media screen and (min-width: 1800px) {
  html { font-size: 1.15em; }
}
@media screen and (min-width: 2000px) {
  html { font-size: 1.35em; }
}        
        
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
